$accent: #ffff00;
$accent2: #ffff00;
$bg: #3333ff;
$fg: #eeeeee;
$fgd: #aaaaaa;


* {
  background-color: $bg;
}

.toggle {
  background-color: $accent;
  color: $fg;
}

.checkbox-toggle {
  all: unset;
}

check {
  appearance: none;
}
